<a href="https://colab.research.google.com/github/jatinkumar11954/GcpTasks/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. List Different types of data structures in pandas.

Series — 1D  
    DataFrame — 2D  
    Panel — 3D

2. What is pandas dataframe? Create a empty dataframe.

    A DataFrame is a two-dimensional data structure composed of rows and columns

In [ ]:

# import pandas library as pd
import pandas as pd
  
# create an Empty DataFrame object
df = pd.DataFrame()
  
print(df)

Empty DataFrame
Columns: []
Index: []

3. Explain number of ways to create pandas dataframe

    1. Csv or excel file: usings functions as such read_csv, read_excel

    2. Numpy arrays:
            import pandas as pd
            import numpy as np
            A = np.random.randint(10, size=(4,3))
            print(A)
            array([[9, 2, 0],        
                  [4, 3, 0],        
                  [2, 3, 1],        
                  [7, 1, 3]])
            df = pd.DataFrame(A)
            print(df)

    3. Dictionary:

            dict_a = {'col_a':[1,2,3,4],'col_b': [2,5,6,7],
                          'col_c'['a','b',}
            df = pd.DataFrame(dict_a)
            df

    4. List:
            lst_a = [['John', 23, 182, 'A'], ['Jane', 25, 179, 'A'], 
                    ['Mary',    21, 177, 'B']]
            df= pd.DataFrame(lst_a)
            df


Topic: Rename column and row names	
4. Create a dataframe having details of student and marks obtained in Maths, Chemistry, Physics. (for atleast 12 students.
	(hints: 1. All the index values or names should be unique 2. Ath the column names should be unique.
  
	1. print first five rows
	2. print last five rows
	3. print first 2 rows
	4. rename column student name to 'Student_Name' and explain what is inplace parameter.
	5. rename columns maths to 'English'
	6. rename index 6 as 100 (hint: use same function used for column renaming.
	7. rename column English to 'Maths' using axis parameter
	8. rename index 100 as 6 using axis parameter

In [ ]:
import random

studentList=[]
for i in range(0,13):
  
  studentList.append( [chr(i+97),random.randrange(20,50),random.randrange(20,60),random.randrange(20,70) ] )

studentdf= pd.DataFrame(studentList,columns=['Name', 'Maths', 'Chemistry', 'Physics'])
print(studentdf)
print(studentdf.head(5))#1
print(studentdf.tail(5))#2
print(studentdf.head(2))#3
studentdf.rename(
    columns=({ 'Name': 'Student_Name'}), 
    inplace=True,
)#4
studentdf.head()
print(studentdf.rename(
    columns=({ 'Student_Name': 's'}), 
    inplace=False,
).head())#inplace false won't make any change in original object
studentdf.head()

   Name  Maths  Chemistry  Physics
0     a     34         36       44
1     b     48         46       51
2     c     40         21       49
3     d     44         53       51
4     e     49         29       38
5     f     20         27       26
6     g     45         52       29
7     h     41         52       30
8     i     41         20       28
9     j     24         28       58
10    k     47         40       40
11    l     28         33       39
12    m     34         44       21
  Name  Maths  Chemistry  Physics
0    a     34         36       44
1    b     48         46       51
2    c     40         21       49
3    d     44         53       51
4    e     49         29       38
   Name  Maths  Chemistry  Physics
8     i     41         20       28
9     j     24         28       58
10    k     47         40       40
11    l     28         33       39
12    m     34         44       21
  Name  Maths  Chemistry  Physics
0    a     34         36       44
1    b     48         46       51
   s  Maths  Chemistry  Physics
0  a     34         36       44
1  b     48         46       51
2  c     40         21       49
3  d     44         53       51
4  e     49         29       38

  Student_Name  Maths  Chemistry  Physics
0            a     34         36       44
1            b     48         46       51
2            c     40         21       49
3            d     44         53       51
4            e     49         29       38

In [ ]:
studentdf.rename(columns={"Maths":"English"},inplace=True)#6
studentdf.head()

  Student_Name  English  Chemistry  Physics
0            a       34         36       44
1            b       48         46       51
2            c       40         21       49
3            d       44         53       51
4            e       49         29       38

In [ ]:
studentdf.rename(index={6:100},inplace=True)#7
studentdf.head(7)

    Student_Name  English  Chemistry  Physics
0              a       34         36       44
1              b       48         46       51
2              c       40         21       49
3              d       44         53       51
4              e       49         29       38
5              f       20         27       26
100            g       45         52       29

In [ ]:
studentdf.set_axis(["Student_Name",	"Maths",	"Chemistry",	"Physics"], axis=1,inplace=True)
studentdf.head()

  Student_Name  Maths  Chemistry  Physics
0            a     34         36       44
1            b     48         46       51
2            c     40         21       49
3            d     44         53       51
4            e     49         29       38

In [ ]:

l=[i for i in range(0,13)]
studentdf.set_axis(l, axis=0,inplace=True)
studentdf.head(7)

  Student_Name  Maths  Chemistry  Physics
0            a     34         36       44
1            b     48         46       51
2            c     40         21       49
3            d     44         53       51
4            e     49         29       38
5            f     20         27       26
6            g     45         52       29

Topic: Indexing	
5. Using the same dataframe of 12 students data for Q. 4.

	A. iloc
	1. index 1,3,5 rows  using iloc
	2. index  2,4 and maths mark  using iloc
	3. index 1,3 and chemistry, physics using iloc
	
	B. loc
	1. index 1,3,5 rows  using loc
	2. index  2,4 and maths mark  using loc
	3. index 1,3 and chemistry, physics using loc

In [ ]:
display(studentdf.iloc[[1,3,5]])
display(studentdf.iloc[[2,4],1:2])
display(studentdf.iloc[[1,3],2:4])

  Student_Name  Maths  Chemistry  Physics
1            b     48         46       51
3            d     44         53       51
5            f     20         27       26

   Maths
2     40
4     49

   Chemistry  Physics
1         46       51
3         53       51

In [120]:
display(studentdf.loc[[1,3,5]])
display(studentdf.loc[[2,4],["Maths"]])
display(studentdf.loc[[1,3],["Chemistry","Physics"]])

# display(studentdf.loc[( (studentdf.index ==2 ) | (studentdf.index ==4 )  )]["Maths"])
# display(studentdf.loc[( (studentdf.index ==1 ) | (studentdf.index ==3 )  )][["Chemistry","Physics"]])
# display(studentdf.loc[studentdf.Maths])(studentdf.index ==2 ) | (studentdf.index ==4 )  |

  Student_Name  Maths  Chemistry  Physics
1            b     48         46       51
3            d     44         53       51
5            f     20         27       26

   Maths
2     40
4     49

   Chemistry  Physics
1         46       51
3         53       51


Topic: Slicing
6. Create a dataframe using given code and attempt the following questions.

	names = ['Ram', 'John', 'Abdul','Siva', 'Adam', 'Rahman']
	maths =  [45, 40, 60, 80, 90, 75]
	english =[60,75,90,65,80,60]
	di={'Names':names,'Maths':maths,'English':english}
	scores_df=pd.DataFrame(di)
	scores_df

	1. Slice john to adam  using iloc 
	2. Slice john to adam , name to maths using iloc 
	3. Display only the maths column  without using loc and iloc
	4. Display name and english colum without using loc and iloc

names = ['Ram', 'John', 'Abdul','Siva', 'Adam', 'Rahman'] 
maths = [45, 40, 60, 80, 90, 75]
english =[60,75,90,65,80,60] 
di={'Names':names,'Maths':maths,'English':english} 
scores_df=pd.DataFrame(di)
scores_df

In [175]:
names = ['Ram', 'John', 'Abdul','Siva', 'Adam', 'Rahman'] 
maths = [45, 40, 60, 80, 90, 75]
english =[60,75,90,65,80,60] 
di={'Names':names,'Maths':maths,'English':english} 
scores_df=pd.DataFrame(di)
scores_df

    Names  Maths  English
0     Ram     45       60
1    John     40       75
2   Abdul     60       90
3    Siva     80       65
4    Adam     90       80
5  Rahman     75       60

In [128]:
display(scores_df.iloc[1:5])#Slice john to adam using iloc

display(scores_df.iloc[1:5,0:2])#Slice john to adam , name to maths using iloc
display(scores_df[["Maths"]])#Display only the maths column without using loc and iloc
display(scores_df[["Names","English"]])#Display name and english colum without using loc and iloc
# display(studentdf.iloc[[1,3],2:4])

   Names  Maths  English
1   John     40       75
2  Abdul     60       90
3   Siva     80       65
4   Adam     90       80

   Names  Maths
1   John     40
2  Abdul     60
3   Siva     80
4   Adam     90

   Maths
0     45
1     40
2     60
3     80
4     90
5     75

    Names  English
0     Ram       60
1    John       75
2   Abdul       90
3    Siva       65
4    Adam       80
5  Rahman       60


7. Create a dataframe using given code and attempt the following questions. (define df again)

	Use same dataframe used for Q.6

	1. Slice john to adam  using loc 
	2. Slice john to adam , name to maths using loc

In [145]:
display(scores_df.loc[1:4])
display(scores_df.loc[2:4,[i for i in scores_df.columns[0:2]]])

   Names  Maths  English
1   John     40       75
2  Abdul     60       90
3   Siva     80       65
4   Adam     90       80

   Names  Maths
2  Abdul     60
3   Siva     80
4   Adam     90


Topic: Replace Elements
8. Using same dataframe used in Q.6,7 attempt the following questions. (define df again)
	1. Replace values of 40 to 42 in maths column
	2. Replace 65 -> 67 in english column
	3. Replace all the entries of 75 to 77 in the dataframe
	4. replace the english mark of sive to 70

In [160]:
display(scores_df.replace({'Maths': {40: 42}}))#1

display(scores_df.replace({'English': {65: 67}}))#2


display(scores_df.replace( {75: 77},))#3
# display(scores_df.replace(scores_df.loc[]
scores_df.loc[scores_df['Names'] == "Siva", 'English'] = 70
display(scores_df)#4

    Names  Maths  English
0     Ram     45       60
1    John     42       75
2   Abdul     60       90
3    Siva     80       65
4    Adam     90       80
5  Rahman     75       60

    Names  Maths  English
0     Ram     45       60
1    John     42       75
2   Abdul     60       90
3    Siva     80       67
4    Adam     90       80
5  Rahman     75       60

    Names  Maths  English
0     Ram     45       60
1    John     42       77
2   Abdul     60       90
3    Siva     80       65
4    Adam     90       80
5  Rahman     77       60

    Names  Maths  English
0     Ram     45       60
1    John     42       75
2   Abdul     60       90
3    Siva     80       70
4    Adam     90       80
5  Rahman     75       60


Topic: Conditional Formating and Filtering
9. Create a dataframe using given code and attempt the following questions.
	names = ['Ram', 'John', 'Abdul','Siva', 'Adam']
	maths =  [70, 72, 75, 80, 81]
	physics = [65,70,90,74,81]
	di={'Names':names,'Maths':maths,'Physics':physics}
	scores_df=pd.DataFrame(di)
	scores_df
	
	1. Filter the entries who maths value is less that 80
	2. Display the name whose physics mark is greater than 80
	3. Display the maths mark of student 'Siva'
	4. Filter the entries who maths value greater than 72 and physics mark greater than 70
	5. Display the names of the students whose mark is less than 60 in maths and less than 72 in physics

In [164]:
names = ['Ram', 'John', 'Abdul','Siva', 'Adam'] 
maths = [70, 72, 75, 80, 81]
physics = [65,70,90,74,81]
di={'Names':names,'Maths':maths,'Physics':physics} 
scores=pd.DataFrame(di)
scores

   Names  Maths  Physics
0    Ram     70       65
1   John     72       70
2  Abdul     75       90
3   Siva     80       74
4   Adam     81       81

In [173]:
scores.loc[(scores.Maths <80)]
scores.loc[(scores.Physics >80)]["Names"]

scores_df.loc[scores_df['Names'] == "Siva", 'Maths']
scores.loc[(scores.Physics >70) &(scores.Maths >72)]
scores.loc[(scores.Physics >72) &(scores.Maths <60)]['Names']

Series([], Name: Names, dtype: object)


Topic: Sorting
10. Using same dataframe used in Q.6,7,8 attempt the following questions. (define df again)
	1. Sort the df with column names  (in the alphabetical order of column names)
	2. sort the df with respect to english marks

In [178]:
scores_df.sort_values(by=['English'])
scores_df.sort_index(axis=1)

   English  Maths   Names
0       60     45     Ram
1       75     40    John
2       90     60   Abdul
3       65     80    Siva
4       80     90    Adam
5       60     75  Rahman


Topic: Concatenation (Vertical and Horizontal)
11. Create 2 dataframes using given code and attempt the following questions.

	Table1 = pd.DataFrame({'A': ['10', '11', '12', '13'],
                    'B': ['20', '21', '22', '23'],
                    'C': ['30', '31', '32', '33'],
                    'D': ['40', '41', '42', '43']})
	Table2 = pd.DataFrame({'A': ['14', '15', '16', '17'],
                    'B': ['24', '25', '26', '27'],
                    'C': ['34', '35', '36', '37'],
                    'D': ['44', '45', '46', '47']},
                    index=[0, 1, 2, 3])
	
	1. Concatenate the above two tables using pd.concat in vertical manner and note the behaviour. 
	(hint: reset the index of new concatenated df)
	2. Concatenate the above two tables using pd.concat in horizontal manner and note the behaviour. 
	(hint: reset the index of new concatenated df)
	3. While attempting above 2 questions, if you see any NaN values in columns. Explain why.

In [185]:
Table1 = pd.DataFrame({'A': ['10', '11', '12', '13'],

            'B': ['20', '21', '22', '23'],
            'C': ['30', '31', '32', '33'],
            'D': ['40', '41', '42', '43']})
Table1
Table2 = pd.DataFrame({'A': ['14', '15', '16', '17'],

            'B': ['24', '25', '26', '27'],
            'C': ['34', '35', '36', '37'],
            'D': ['44', '45', '46', '47']},
            index=[0, 1, 2, 3])
Table2
pd.concat([Table1,Table2],axis=1,ignore_index=True)

pd.concat([Table1,Table2],axis=0,ignore_index=True)

    A   B   C   D
0  10  20  30  40
1  11  21  31  41
2  12  22  32  42
3  13  23  33  43
4  14  24  34  44
5  15  25  35  45
6  16  26  36  46
7  17  27  37  47


Topic: Merge
12. Create 2 dataframes using given code and attempt the following questions.

	left_frame = pd.DataFrame({'key': range(5), 
                           'left_value': ['a', 'b', 'c', 'd', 'e']})
	right_frame = pd.DataFrame({'key': range(2, 7), 
                           'right_value': ['f', 'g', 'h', 'i', 'j']})
	
	(hint: use pd.merge())
	1. inner join 2 given dataframes on 'key' 
	2. outer join 2 given dataframes on 'key'
	3. left join 2 given dataframes on 'key'
	4. right join 2 given dataframes on 'key'
	5. Explain what do you understand by each type of join and how it works.

In [195]:
left_frame = pd.DataFrame({'key': range(5),

                   'left_value': ['a', 'b', 'c', 'd', 'e']})
right_frame = pd.DataFrame({'key': range(2, 7),

                   'right_value': ['f', 'g', 'h', 'i', 'j']})

# print(left_frame)
display(left_frame)
# print(right_frame)
display(right_frame)

pd.merge(left_frame,right_frame,how="inner")
pd.merge(left_frame,right_frame,how="outer")
pd.merge(left_frame,right_frame,how="left")
pd.merge(left_frame,right_frame,how="right")

   key left_value
0    0          a
1    1          b
2    2          c
3    3          d
4    4          e

   key right_value
0    2           f
1    3           g
2    4           h
3    5           i
4    6           j

   key left_value right_value
0    2          c           f
1    3          d           g
2    4          e           h
3    5        NaN           i
4    6        NaN           j


Topic: Pivot Table
13. Create a dataframe using given code and attempt the following questions.
	
	d = {
    'Name':['Jony','Anil','Sunil','Jony','Anil','Rocky',
            'Jony','Anil','Sunil','Jony','Anil','Rocky'],
    'Exam_Months':['3_Months','3_Months','3_Months','3_Months','3_Months','3_Months',
            '6_Months','6_Months','6_Months','6_Months','6_Months','6_Months'],
     
    'Subject':['Python','Python','SQL','SQL','ML','ML',
               'Python','Python','SQL','SQL','ML','ML'],
   'Score':[62,47,55,74,31,77,85,63,42,67,89,81],
   'Lab':[70,60,63,80,40,77,67,70,80,90,92,95]}
 
	df = pd.DataFrame(d,columns=['Name','Exam_Months','Subject','Score','Lab'])
	df
	
	1. Create a pivot table based on subject and print it.
	2. Create a pivot table based on type of exam months and print it.
	3. Create a pivot table using exam months and subjects both and print it.
	4. Find the average performance of subject in Lab and Exam Score both.
	5. Find the average performance of subject in Lab and Exam Score for both type of exam months.

In [196]:
d = { 'Name':['Jony','Anil','Sunil','Jony','Anil','Rocky',

    'Jony','Anil','Sunil','Jony','Anil','Rocky'],
'Exam_Months':['3_Months','3_Months','3_Months','3_Months','3_Months','3_Months',

    '6_Months','6_Months','6_Months','6_Months','6_Months','6_Months'],
'Subject':['Python','Python','SQL','SQL','ML','ML',

       'Python','Python','SQL','SQL','ML','ML'],
'Score':[62,47,55,74,31,77,85,63,42,67,89,81], 'Lab':[70,60,63,80,40,77,67,70,80,90,92,95]}

df = pd.DataFrame(d,columns=['Name','Exam_Months','Subject','Score','Lab']) 
df

     Name Exam_Months Subject  Score  Lab
0    Jony    3_Months  Python     62   70
1    Anil    3_Months  Python     47   60
2   Sunil    3_Months     SQL     55   63
3    Jony    3_Months     SQL     74   80
4    Anil    3_Months      ML     31   40
5   Rocky    3_Months      ML     77   77
6    Jony    6_Months  Python     85   67
7    Anil    6_Months  Python     63   70
8   Sunil    6_Months     SQL     42   80
9    Jony    6_Months     SQL     67   90
10   Anil    6_Months      ML     89   92
11  Rocky    6_Months      ML     81   95

In [214]:
table = pd.pivot_table(df,  index=['Subject'])#1
table2 = pd.pivot_table(df,  index=['Exam_Months'])#2
table3 = pd.pivot_table(df,  index=['Exam_Months','Subject'])#3

table
table2
table3
table4 = pd.pivot_table(df,  index=['Subject']  ,aggfunc="mean")#4
table5 = pd.pivot_table(df,  index=['Subject','Exam_Months']  ,aggfunc="mean")#5

table4
table6 = pd.pivot_table(df,  index=['Exam_Months']         ,aggfunc="mean"         )
table5

                   Lab      Score
Exam_Months
3_Months     65.000000  57.666667
6_Months     82.333333  71.166667


Topic: GroupBy
14. Using same dataframe used in Q.13 attempt the following questions. (define df again)

	1. Find the average score of exam_months using groupby
 	2. Find the avarge score of exam_month on subjectwise using groupby.

In [221]:
# from statistics import mean

# print(mean([70,60,63,80,40,77]))
df.groupby(['Exam_Months']).mean()#1
df.groupby(['Exam_Months',"Subject"]).mean()#1

                     Score   Lab
Exam_Months Subject
3_Months    ML        54.0  58.5
            Python    54.5  65.0
            SQL       64.5  71.5
6_Months    ML        85.0  93.5
            Python    74.0  68.5
            SQL       54.5  85.0


Topic: Crosstab
Note: A people.csv is shared with you along with the assignment. Please use that for upcoming questions.
15. Given above dataset, attempt the following questions.
	1. Read the csv file using pandas
	2. Find the crosstab between gender and hometown. 
	3. Find the avg height using hometown and gender using crosstab.
	4. Find the min age using gender and smoker using crosstab.

In [226]:
from google.colab import files
import io
uploaded = files.upload()
c=pd.read_csv(io.BytesIO(uploaded["people.csv"]))#1
pd.crosstab(c.Gender, c.Hometown)#2

Saving people.csv to people (3).csv

Hometown  Bangalore  Delhi  Mumbai
Gender
Female            2      1       7
Male              4      5       2

In [230]:
c.groupby(['Gender', 'Hometown'])['Height'].mean()
pd.crosstab(c.Gender, c.Hometown ,values=c.Height, aggfunc='mean').round(0)#3

Hometown  Bangalore  Delhi  Mumbai
Gender
Female        160.0  170.0   163.0
Male          168.0  170.0   171.0

In [231]:
pd.crosstab(c.Gender, c.Smoker ,values=c.Age, aggfunc='min').round(0)#3

Smoker  No  Yes
Gender
Female  21   43
Male    27   34


Topic: Duplicates:
16. Using same dataframe used in Q.13,14 attempt the following questions. (define df again)
	1. Drop the duplicate data using Name column of the dataframe.
	2. Drop the duplicate data using Name column of the dataframe and keep first entry.
	3. Drop the duplicate data using Name column of the dataframe and keep last entry.
	4. Explain behaviour of pd.drop_duplicates()

In [236]:
display(df.drop_duplicates(subset=["Name"]))

    Name Exam_Months Subject  Score  Lab
0   Jony    3_Months  Python     62   70
1   Anil    3_Months  Python     47   60
2  Sunil    3_Months     SQL     55   63
5  Rocky    3_Months      ML     77   77

In [238]:
display(df.drop_duplicates(subset=["Name"], keep='first'))

    Name Exam_Months Subject  Score  Lab
0   Jony    3_Months  Python     62   70
1   Anil    3_Months  Python     47   60
2  Sunil    3_Months     SQL     55   63
5  Rocky    3_Months      ML     77   77

In [241]:
display(df.drop_duplicates(subset=["Name"], keep='last'))

     Name Exam_Months Subject  Score  Lab
8   Sunil    6_Months     SQL     42   80
9    Jony    6_Months     SQL     67   90
10   Anil    6_Months      ML     89   92
11  Rocky    6_Months      ML     81   95